*/__pycache__/*
*/configs/__pycache__/
*/policy/__pycache__/
*/utils/__pycache__/
*/envs/__pycache__/
*/envs/policy/__pycache__/
*/envs/utils/__pycache__/
*egg-info
wandb/
data/
env/
*/Python-RVO2/

crowd_nav/sarl_output/__pycache__/

ros/detection/__pycache__/

RGL_output_gpu/

cadrl_output/

sarl_output/

crowd_nav/vistualize/baseline/

crowd_nav/vistualize/rgl_vs_sstgcnn/

sstgcnn_output/

crowd_nav/.ipynb_checkpoints/

orienv/cadrl/

orienv/

crowd_nav/vistualize/
crowd_nav/ros_detection/__pycache__/

crowd_nav/ros_detection/frozen_inference_graph.pb

ros/detection/deep_sort/__pycache__/

ros/detection/deep_sort/deep/__pycache__/

ros/detection/deep_sort/deep/checkpoint/

ros/detection/deep_sort/sort/__pycache__/

ros/detection/detector/__pycache__/

ros/detection/detector/MMDet/__pycache__/

ros/detection/detector/YOLOv3/__pycache__/

ros/detection/detector/YOLOv3/cfg/

ros/detection/detector/YOLOv3/nms/__pycache__/

ros/detection/detector/YOLOv3/nms/ext/build/lib.linux-x86_64-3.8/

ros/detection/detector/YOLOv3/nms/ext/build/temp.linux-x86_64-3.8/home/baron/Research/deep_sort_pytorch/detector/YOLOv3/nms/ext/cpu/

ros/detection/detector/YOLOv3/nms/ext/build/temp.linux-x86_64-3.8/home/baron/Research/deep_sort_pytorch/detector/YOLOv3/nms/ext/

ros/detection/detector/YOLOv3/nms/ext/build/temp.linux-x86_64-3.8/home/baron/Research/Master/ros/detection/detector/YOLOv3/nms/ext/cpu/

ros/detection/detector/YOLOv3/nms/

ros/detection/detector/YOLOv3/weight/

ros/detection/utils/__pycache__/

crowd_nav/.vscode/

crowd_nav/deep_sort/__pycache__/

crowd_nav/deep_sort/deep/__pycache__/

crowd_nav/deep_sort/deep/checkpoint/
crowd_nav/deep_sort/
crowd_nav/deepsort_utils/__pycache__/
crowd_nav/detector/

mmdetection

Python-RVO2
venv
.DS_Store
ablation_study/
