*/__pycache__/*
*/configs/__pycache__/
*/policy/__pycache__/
*/utils/__pycache__/
*/envs/__pycache__/
*/envs/policy/__pycache__/
*/envs/utils/__pycache__/
*egg-info
wandb/
data/
env/
*/Python-RVO2/

crowd_nav/sarl_output/__pycache__/

ros/detection/__pycache__/
