*/__pycache__/*
*/configs/__pycache__/
*/policy/__pycache__/
*/utils/__pycache__/
*/envs/__pycache__/
*/envs/policy/__pycache__/
*/envs/utils/__pycache__/
*egg-info
wandb/
data/
env/
*/Python-RVO2/

crowd_nav/sarl_output/__pycache__/

ros/detection/__pycache__/

RGL_output_gpu/

cadrl_output/

sarl_output/

crowd_nav/vistualize/baseline/

crowd_nav/vistualize/rgl_vs_sstgcnn/

sstgcnn_output/

crowd_nav/.ipynb_checkpoints/

orienv/cadrl/

orienv/

crowd_nav/vistualize/
crowd_nav/ros_detection/__pycache__/

crowd_nav/ros_detection/frozen_inference_graph.pb
